@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');


                                                                /* HEADER CSS */
.my-auto {
    font-family: 'Satisfy','cursive'; 
    font-size: large;
}

a.nav-link.ml-4:hover{
    color: greenyellow !important;
}

                                                                 /* DOWNLOAD BAR */

#downloadbar {
    background-color: rgb(128, 128, 128);
    font-size: 20px;
    color: white;
    margin-top: 15px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#downloadnow-btn {
    margin-left: 25px;
    border: white solid 2px;
}

                                                                /* FATHER AND SON HOLDING */
 
.holdinghandimg {
    width: 100%;
    height: 500px;
}
.holdinghandtext{
    font-size:35px;
    font-family: 'Times New Roman', Times, serif;
}

#contactus-btn {
    background-color: greenyellow;
    color: white;
    font-size: 15px;
    width: 250px;
    height: 55px;
}

.holdinghandcontainer {
    position: relative;
}
.holdinghandcontent {
    position: absolute;
    text-align: center;
    top: 30%;
    right: 10%;
    
}

.videoplay{
    position: absolute;
    top: 40%;
    left: 25%;
}

#videplay-btn {
    position: absolute;
    width: 110px;
    height: 80px;
    background-color: greenyellow;
    opacity: 0.6;
    border-radius: 0%;
}


                                                                /* ABOUT US CONTENT */

#contactus2-btn {
    background-color: greenyellow;
    color: white;
}

.about-us {
    margin-top: 7%;
    margin-left: 10%;
    margin-right: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.aboutusimg {
    width: 300px;
    height: 300px;
    border: lightgray solid 10px;
    margin-top: 40%;
    margin-left: -30px;

}


.aboutusstylehead {
    font-size: 25px;
}


                                                                    /* PROGRESS BAR */

.horProgressImg {
    width: 100%;
}

.horProgress {
    position: relative;
    margin-top: 5%;
}

.horProgressHeaderContent {
    position: absolute;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imageOnTop {
    position: relative
}

.progressContent {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center
}

.number {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.progressText {
    position: absolute;
    top: -20px;
    left: 25%;
}

.number {
    border-radius: 50%;
}

.inputBar {
    position: absolute;
    top: 70%;
}

.inputBar label {
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    border: 4px solid greenyellow;
}

.borderRad {
    border-radius: 50%;
}

                                                                /* CARDS CONTENT */

.cardscontainerimg{
    width: 100%;
    height: 600px;
}
.pink {
    background-color: pink;
}

.cardscontainer {
    position: relative;
    margin-top: 5%;
}

.pargraphcontent{
    position: absolute;
    top: 3%;
    left: 25%;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.bothcard{
    position: absolute;
    top: 30%;
}
.cardscontent1{
    position: absolute;
    left: 38%;
}
.cardscontent2 {
    position: absolute;
    left: 36%;
}

#getstarted-btn{
    background-color: greenyellow;
    color: white;
}
.card-text {
    font-size: 16px;
    
}
.card{
    width: 350px;
    font-family: 'Times New Roman', Times, serif;
}


                                                                    /* Carousel CONTENT*/

.carousel-inner {
    width: 100%;
    height: 100%;
}


.childcircle{
    position: relative;
    width: 152px;
    height: 170px;
    border-radius: 50%;
}
.childpic{
    position: absolute;
    top: 26.5%;
    left: 43.5%;
    width: 115px;
    height: 115px;
    border-radius: 50%;
}
#whatourclientsay{
    position: absolute;
    top: -20%;
    left: 30%;
    font-family: 'Times New Roman', Times, serif;
}


.blockquote {
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

                                                                /* BLOGS CONTENT */

#h1blog{
    padding-top: 30px;
    text-align: center;
    margin-bottom: 5%;
}

.blogimg {
    width: 250px;
    height: 200px;
    margin-bottom: 20px;
}

#readmore-btn {
    color: greenyellow;
    border: 1px solid greenyellow;
    width: 150px;
    transition-duration: 0.4s;
}
.blog1 ,.blog2 ,.blog3{ 
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
#readmore-btn:hover {
    background-color: greenyellow;
    color: white;
}

                                                                    /* FOOTER CONTENT */

.footercontent {
    background-color: rgba(0, 0, 0, 0.8);
    height: 500px;
}

.calluslable{
    font-family: 'Satisfy', 'cursive';
    font-size: 40px; 
    color: white;
}

.footerheadtext{
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

#footerbutton1 ,#footerbutton2 {
    background-color: yellowgreen;
    color: white;
    width: 210px;
    height: 50px;
    font-size: 14px;
}

.footertitle{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.footerpara{
    color: white;
    opacity: 0.3;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.footeraddress{
    color: white;
    opacity: 0.5;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

.recentpostlist{
    list-style-image: url("images/icon8.png");
    margin: 0%;
    padding-left: 15px;
    font-size: 12px;
    color: white;
    opacity: 0.3;
    font-family: 'Times New Roman', Times, serif;
}

li{
    margin-bottom: 10px;
}
.recenttweetslist {
    list-style-image: url("images/icon9.png");
    margin: 0%;
    padding-left: 15px;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.footerhref{
    text-decoration: none;
    color: white;
    opacity: 0.4;
}

                                                            /* SOCIAL LINKS CONTENT */

.sociallinkcontainer{
    background-color: black;
    height: 60px;
    font-size: 14px;
}

.socialhref {
    text-decoration: none;
    color: white;
    opacity: 0.6;
}
.socialhref:hover{
    text-decoration: none;
    color: white;
}



@media (min-width:350px) and (max-width:400px){
       
    .logoimg{
        width: 42vh;
    }
    .active {
        color: greenyellow;
    }

    .holdinghandimg{
        width: 100%;
        height: 300px;
    }
    .holdinghandtext{
        font-size:17px;
    }
    
    #contactus-btn {
        font-size: 10px;
        width: 150px;
        height: 35px;
    } 
    .holdinghandcontent {
        top: 30%;
        right: 5%;
    }
    .videoplay{
        position: absolute;
        top: 40%;
        left: 15%;
    }
    #videplay-btn {
        width: 60px;
        height: 50px;
    }
    #downloadbar {
        font-size: 14px;
        height: 63px;
        text-align: center;
    }
    #downloadnow-btn {
        margin-left: 2px;
        width: 100px;
        height: 45px;
        font-size: 2vh;
    }
    #downloadbaricon {
        width: 40px;
        height: 40px;
    }
    .about-us{
        font-size: 15px;
        margin-right: 15%;
        text-align: justify;
    }
    .aboutusstylehead{
        font-size: 20px;
        text-align: left;
        text-align: justify;
    }
    .about-us > h1{
        font-size: 40px;
        text-align: center;
    }
    .aboutusimg{
        margin: 10% 25%;
        height: 180px;
        width: 180px;
    }
    #contactus2-btn {
        height: 45px;
        width: 180px;
        font-size: 15px;
    }


    .cardscontainerimg{
        width: 100%;
        height: 800px;
    }

    .pargraphcontent{
        position: absolute;
        top: 3%;
        left: 3%;
        font-size: 14px;
    }
    .bothcard {
        position: absolute;
        opacity: 0.9;
    }
    .cardscontent1{
        position: absolute;
        margin-top: -30%;
        left: 8%;
    }
    .cardscontent2 {
        position: absolute;
        padding-top: 30px;
        left: 8%;
    }
    .cardinsideimg{
        width: 35px;height: 35px;
    }
    
    #getstarted-btn{
        height: 40px;
        font-size: 15px;
    }
    .card-text {
        font-size: 15px;
    }
    .card{
        width: 320px;
        
    }
    .card-title{
        font-size: 15px;
    }


   
    
    .childcircle{

        width: 116px;
        height: 125px;
        top: -10%;
        left: 30S%;
        border-radius: 50%;
    }
    .childpic{
        top: 23%;
        left: 34%;
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }
    
    #whatourclientsay{
        position: absolute;
        top: 5%;
        left: 10%;
        font-size: 24px;
    }
    .blockquote > p{
        font-size: 15px;
    }


    .blog1 {
        left: 10px;
        margin-bottom: 20px;
    }
    .blog2 ,.blog3 {
        left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
    }



    .footercontent {
        height: 950px;
    }
    .footerlogo {
        width: 200px;
        height: 60px;
        margin: 10px;
    }
    .calluslable{
        margin: -10px 10px;
        font-size: 18px;
    }
    
    .footerheadtext{
        margin-top: 12px;
        font-size: 15px;
        text-align: center;
    }
    
    #footerbutton1 {
        left: 10%;
        width: 110px;
        height: 46px;
        font-size: 9px;
    }
    #footerbutton2{
        right: 10%;
        width: 110px;
        height: 46px;
        font-size: 9px;
    }
    .footeraddress{
        font-size: 15px;
    }
    
    .recentpostlist{
        font-size: 11px;
    }
    
    li{
        margin-bottom: 1px;
    }
    .recenttweetslist {
        margin-top: -10px;
        font-size: 11px;
    }



    .sociallinkcontainer{
        height: 160px;
    }
    .social1{
        margin-left: 50px;
    }    
    .social3{
        margin-left: 20px;
        font-size: 14px;
    }
    .social1 ,.social2 ,.social3{
        margin-bottom: -5px;
    }


    .horProgressImg {
        width: 100%;
        height: 450px;
    }
    .dottedLine{
        width: 20px;
    }
    .number img {
        height: 25px;
        width: 25px;
    }

    .noOnTop {
        height: 40px;
        width: 40px;
    }
    .inputBar{
        width: 230px;
        font-size: 10px;
        height: 10px;
    }
}




@media (min-width:400px) and (max-width:540px){
        
    .logoimg{
        width: 280px;
        margin-right: 0%;
    }

    .holdinghandimg{
        width: 100%;
        height: 350px;
    }
    .holdinghandtext{
        font-size:20px;
    }
    
    #contactus-btn {
        font-size: 11px;
        width: 140px;
        height: 35px;
    } 
    .holdinghandcontent {
        top: 30%;
        right: 5%;
    }
    .videoplay{
        position: absolute;
        top: 40%;
        left: 15%;
    }
    #videplay-btn {
        width: 60px;
        height: 50px;
    }
    #downloadbar {
        font-size: 15px;
        height: 60px;
        text-align: center;
    }
    #downloadnow-btn {
        margin-left: 2px;
        width: 100px;
        height: 44px;
        font-size: 10px;
    }
    #downloadbaricon {
        width: 40px;
        height: 40px;
    }
    .about-us{
        font-size: 18px;
        margin: 10% 10% 10% 0%  ;
    }
    .aboutusstylehead{
        font-size: 20px;
        text-align: left;
    }
    .about-us > h1{
        font-size: 40px;
        text-align: center;
    }
    .aboutusimg{
        margin: 0% 30%;
        height: 180px;
        width: 180px;
    }
    #contactus2-btn {
        height: 45px;
        width: 180px;
        font-size: 15px;
    }


    .cardscontainerimg{
        width: 100%;
        height: 900px;
    }

    .pargraphcontent{
        position: absolute;
        top: 3%;
        left: 3%;
        font-size: 18px;
    }
    .bothcard {
        position: absolute;
        opacity: 0.9;
    }
    .cardscontent1{
        position: absolute;
        margin-top: -20%;
        left: 10%;
    }
    .cardscontent2 {
        position: absolute;
        padding-top: 30px;
        left: 10%;
    }
    .cardinsideimg{
        width: 35px;height: 35px;
    }
    
    #getstarted-btn{
        width: 150px;
        height: 45px;
        font-size: 18px;
    }
    .card-text {
        font-size: 18px;
    }
    .card{
        width: 380px;
    }
    .card-title{
        font-size: 20px;
    }


   
    
    .childcircle{
        position: absolute;
        width: 116px;
        height: 125px;
        top: -30%;
        left: 30%;
        border-radius: 50%;
    }
    .childpic{
        position: absolute;
        top: -25.2%;
        left: 34.5%;
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }
    
    #whatourclientsay{
        position: absolute;
        top: -60%;
        left: 15%;
        font-size: 24px;
    }
    .blockquote > p{
        font-size: 14px;
    }


    .blog1 {
        left: 10px;
        margin-bottom: 20px;
    }
    .blog2 ,.blog3 {
        left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
    }



    .footercontent {
        height: 920px;
    }
    .footerlogo {
        width: 230px;
        height: 70px;
        margin: 10px 30px;
    }
    .calluslable{
        margin: -10px 18%;
        font-size: 16px;
    }
    
    .footerheadtext{
        margin-top: 12px;
        font-size: 15px;
        text-align: center;
    }
    
    #footerbutton1 {
        margin-left: 10%;
        width: 110px;
        height: 50px;
        font-size: 9px;
    }
    #footerbutton2{
        width: 110px;
        height: 50px;
        font-size: 9px;
    }
    .footeraddress{
        font-size: 12px;
    }
    
    .recentpostlist{
        font-size: 12px;
    }
    
    li{
        margin-bottom: 1px;
    }
    .recenttweetslist {
        margin-top: -10px;
        font-size: 12px;
    }



    .sociallinkcontainer{
        height: 140px;
    }
    .social1{
        margin-left: 50px;
    }    
    .social3{
        margin-left: 20px;
        font-size: 14px;
    }
    .social1 ,.social2 ,.social3{
        margin-bottom: -5px;
    }


    .horProgressImg {
        width: 100%;
        height: 450px;
    }
    .dottedLine{
        width: 20px;
    }
    .number img {
        height: 25px;
        width: 25px;
    }

    .noOnTop {
        height: 40px;
        width: 40px;
    }
    .inputBar{
        width: 230px;
        font-size: 10px;
        height: 10px;
    }
}

@media (min-width:540px) and (max-width:720px){
       

    .holdinghandimg{
        width: 100%;
        height: 300px;
    }
    .holdinghandtext{
        font-size:20px;
    }
    
    #contactus-btn {
        font-size: 11px;
        width: 140px;
        height: 35px;
    } 
    .holdinghandcontent {
        top: 30%;
        right: 5%;
    }
    .videoplay{
        position: absolute;
        top: 40%;
        left: 15%;
    }
    #videplay-btn {
        width: 60px;
        height: 50px;
    }
    #downloadbar {
        font-size: 12px;
        height: 50px;
    }
    #downloadnow-btn {
        margin-left: 2px;
        width: 100px;
        height: 30px;
        font-size: 8px;
    }
    #downloadbaricon {
        width: 40px;
        height: 40px;
    }
    .about-us{
        font-size: 14px;
        left: -5%;
    }
    .aboutusstylehead{
        font-size: 20px;
    }
    .about-us > h1{
        font-size: 40px;
        text-align: center;
    }
    .aboutusimg{
        margin-top: 80%;
        height: 250px;
        width: 250px;
    }
    #contactus2-btn {
        height: 45px;
        width: 180px;
        font-size: 15px;
    }

    
    .pargraphcontent{
        position: absolute;
        top: 3%;
        left: 5%;
    }
    .bothcard{
        position: absolute;
        top: 25%;
    }
    .cardscontent1{
        position: absolute;
        left: 10%;
    }
    .cardscontent2 {
        position: absolute;
        left: 10%;
    }
    .card{
        width: 260px;
    }

   
    
    .childcircle{
        position: absolute;
        width: 116px;
        height: 125px;
        top: -30%;
        left: 35%;
        border-radius: 50%;
    }
    .childpic{
        position: absolute;
        top: -25.2%;
        left: 38.3%;
        width: 85px;
        height: 85px;
        border-radius: 50%;
    }
    
    #whatourclientsay{
        position: absolute;
        top: -60%;
        left: 23%;
        font-size: 24px;
    }
    .blockquote > p{
        font-size: 14px;
    }


    .blog1 {
        margin-bottom: 20px;
    }
    .blog2 ,.blog3 {
        left: 40px;
        margin-right: 20px;
        margin-bottom: 20px;
    }



    .footercontent {
        height: 700px;
    }
    .footerlogo {
        width: 210px;
        height: 70px;
        margin: 10px 100px;
        text-align: center;
    }
    .calluslable{
        margin: -10px 20%;
        font-size: 21px;
    }
    
    .footerheadtext{
        margin-top: 12px;
        font-size: 15px;
    }
    
    #footerbutton1 {
        margin-left: 10%;
        width: 150px;
        height: 40px;
        font-size: 10px;
    }
    #footerbutton2{
        width: 150px;
        height: 40px;
        font-size: 10px;
    }
    
    .footeraddress{
        font-size: 15px;
    }
    
    .recentpostlist{
        font-size: 11px;
    }
    
    li{
        margin-bottom: 1px;
    }
    .recenttweetslist {
        margin-top: -10px;
        font-size: 11px;
    }



    .sociallinkcontainer{
        height: 100px;
        text-align: center;
    }    
    .social3{
        font-size: 14px;
    }
    .social1 ,.social2 ,.social3{
        margin-bottom: -5px;
    }


    .horProgressImg {
        width: 100%;
        height: 400px;
    }
    .dottedLine{
        width: 40px;
    }
    .number img {
        height: 35px;
        width: 35px;
    }

    .noOnTop {
        height: 50px;
        width: 50px;
    }
    .inputBar{
        width: 230px;
        font-size: 10px;
        height: 10px;
    }
}


@media (min-width:720px) and (max-width:999px){


    .logoimg{
        width: 350px;
        margin:10px 10%;
    }
    .holdinghandcontent {
        top: 30%;
        right: 5%;
    }
    .holdinghandtext{
        font-size:30px;
    }
    .videoplay{
        top: 40%;
        left: 15%;
    }
    #videplay-btn {
        width: 100px;
        height: 80px;
    }
    #contactus-btn {
        font-size: 15px;
        width: 200px;
        height: 55px;
    }

    #downloadbar {
        font-size: 18px;
        height: 80px;
    }
    #downloadnow-btn {
        margin-left: 2px;
        width: 120px;
        height: 50px;
        font-size: 12px;
    }
    #downloadbaricon {
        width: 60px;
        height: 60px;
    }
    .horProgressImg {
        width: 100%;
        height: 500px;
    }
    .dottedLine{
        width: 60px;
    }
    .number img {
        height: 42px;
        width: 42px;
    }

    .noOnTop {
        height: 60px;
        width: 60px;
    }
    .inputBar{
        width: 250px;
        font-size: 10px;
        height: 15px;
    }


    .pargraphcontent{
        position: absolute;
        top: 3%;
        left: 8%;
    }
    .bothcard{
        position: absolute;
        top: 25%;
    }
    .cardscontent1{
        position: absolute;
        left: 16%;
    }
    .cardscontent2 {
        position: absolute;
        left: 16%;
    }
    .card{
        width: 300px;
    }

    .childcircle{
        position: absolute;
        width: 155px;
        height: 170px;
        top: -40%;
        left: 35%;
        border-radius: 50%;
    }
    .childpic{
        position: absolute;
        top: -34%;
        left: 38%;
        width: 115px;
        height: 115px;
        border-radius: 50%;
    }
    
    #whatourclientsay{
        position: absolute;
        top: -80%;
        left: 23%;
        font-size: 35px;
    }

    .blog3 {
        top: 20px;
        left: 60px;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .footercontent {
        height: 760px;
    }
    .footerlogo {
        width: 260px;
        height: 80px;
        margin: 10px 200px;
        text-align: center;
    }
    .calluslable{
        margin: -10px 32%;
        font-size: 20px;
    }


    #footerbutton1 {
        margin-left: 25%;
        width: 150px;
        height: 60px;
        font-size: 14px;
    }
    #footerbutton2{
        width: 150px;
        height: 60px;
        font-size: 14px;
    }
    .sociallinkcontainer{
        height: 100px;
        text-align: center;
    }   
    .social3{
        font-size: 14px;
    }
    .social1 ,.social2 ,.social3{
        margin-bottom: -5px;
    }
}


@media (min-width:1000px) and (max-width:1215px){
    .logoimg{
        margin-left: -10%;
    }

    .childpic{
        top: 24%;
        left:42%;
        width: 120px;
        height: 120px;
    }
    .footercontent{
        height: 650px;
    }
    .footerlogo{
        width: 500x;
        height: 100px;
    }
    .calluslable{
        font-size: 30px;
    }
    #footerbutton1 {
        margin-left: 40px;
        width: 140px;
        height: 60px;
        font-size: 14px;
    }
    #footerbutton2{
        width: 140px;
        height: 60px;
        font-size: 14px;
    }
}